html
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="/css/main.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700&display=swap")
        script(crossorigin="anonymous" src="https://kit.fontawesome.com/224a92adf2.js")
        script(src="/scripts/main.js")
    body
        .container
            .logo
                h1
                    | book camp 
                    i.fas.fa-fire

            .navbar
                ul
                    li.active
                        a(href='/')
                            i.fas.fa-fire
                    li
                        a(href='/') Home 
                    li
                        a(href='#') About 
                    li
                        form(action="search" method="post" name="search")
                            input(type='text' name='search' placeholder='Search...')
                            button(type='submit')
                                i.fas.fa-search
                    li
                        if (username == 'admin')
                            .dropdown
                                button.dropBtn Admin
                                    .dropdown-content
                                        a(href="additem") Dodaj przedmiot
                                        a(href="users") Użytkownicy
                                        a(href="orders") Zamówienia
                    .navbar-side
                        li
                            a(href="basket")
                                i.fas.fa-shopping-cart
                                |  Basket
                        if (username)
                            li
                                a(href='logout') Logout 
                        else
                            li
                                a(href='login')
                                    i.fas.fa-user
                                    |  Login
            .content
                if (books.length)
                    each book in books
                        .product-container
                            .product-property
                                - var url = book.img;
                                img(src=url)
                            .product-property.title
                                | #{book.title}
                            .product-property
                                | #{book.author}
                            .product-property
                                | #{book.genre}
                            .product-property
                                | #{book.price} PLN
                            if (username == 'admin')
                                .product-action
                                    a(href="editItem/" + book.id)
                                        i.far.fa-edit
                            else
                                .product-action
                                    a(href="addToCart/" + book.id)
                                        i.fas.fa-shopping-basket
                else
                    h1 Brak wyników
