html
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        link(rel="stylesheet" href="/css/main.css")
    body
        .navbar
            ul
                li
                    a(href='/').nav-elem#active Home |
                li
                    a(href='register').nav-elem Register |
                li
                    a(href='login').nav-elem Login |
                li
                    a(href='#').nav-elem Test |
        if (username)
            | Witaj, #{username}!
        .wrapper
            if (books.length)
                each book in books
                    ul.book-box
                        li.book-container
                            - var path  = book.img;
                            img(src=path width="100" heigth="100")
                        li.book-container#title
                            | #{book.title}
                        li.book-container
                            | #{book.author}
                        li.book-container
                            | #{book.genre}